html {
  color-scheme: light;

  /* Main color definitions */
  --c-primary-light: hsl(210, 90%, 55%);
  --c-primary-dark: hsl(210, 90%, 65%);
  --c-secondary-light: hsl(346, 84%, 61%);
  --c-secondary-dark: hsl(164, 95%, 43%);
  --c-background-light: hsl(0, 0%, 98%);
  --c-background-dark: hsl(210, 30%, 10%);
  --c-surface-light: hsl(from var(--c-background-light) h s calc(l + 2));
  --c-surface-dark: hsl(from var(--c-background-dark) h s calc(l + 5));
  --c-text-primary-light: hsl(210, 20%, 15%);
  --c-text-primary-dark: hsl(0, 0%, 95%);
  --c-text-secondary-light: hsl(from var(--c-text-primary-light) h s calc(l + 20));
  --c-text-secondary-dark: hsl(210, 30%, 90%);
  --c-text-secondary-dark: hsl(from var(--c-background-dark) h s 70%);

  /* light browser default */

  --c-primary: var(--c-primary-light);
  --c-secondary: var(--c-secondary-light);
  --c-background: var(--c-background-light);
  --c-surface: var(--c-surface-light);
  --c-text-primary: var(--c-text-primary-light);
  --c-text-secondary: var(--c-text-secondary-light);

  /* dark browser default */

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;

    --c-primary: var(--c-primary-dark);
    --c-secondary: var(--c-secondary-dark);
    --c-background: var(--c-background-dark);
    --c-surface: var(--c-surface-dark);
    --c-text-primary: var(--c-text-primary-dark);
    --c-text-secondary: var(--c-text-secondary-dark);
  }

  /* dark user selected */

  &[data-theme='dark'] {
    color-scheme: dark;
    --c-primary: var(--c-primary-dark);
    --c-secondary: var(--c-secondary-dark);
    --c-background: var(--c-background-dark);
    --c-surface: var(--c-surface-dark);
    --c-text-primary: var(--c-text-primary-dark);
    --c-text-secondary: var(--c-text-secondary-dark);
  }

  /* light user selected */

  &[data-theme='light'] {
    color-scheme: light;

    --c-primary: var(--c-primary-light);
    --c-secondary: var(--c-secondary-light);
    --c-background: var(--c-background-light);
    --c-surface: var(--c-surface-light);
    --c-text-primary: var(--c-text-primary-light);
    --c-text-secondary: var(--c-text-secondary-light);
  }

  /* semantic values */

  --color-accent: var(--c-primary);
  --color-emphasis: var(--c-secondary);
  --color-background: var(--c-background);
  --color-surface: var(--c-surface);
  --color-text: var(--c-text-primary);
  --color-text-secondary: var(--c-text-secondary);
}
