@import 'reset.css';
@import 'colors.css';

html {
  background-color: var(--color-background);
  color: var(--color-text);
  &.with-transition {
    transition:
      color 0.5s ease,
      background-color 0.5s ease;
  }
  --font-main: 'Space Grotesk Variable';
  --font-code: 'Source Code Pro Variable';
  --font-header: 'Work Sans Variable';
}

body {
  font-family: var(--font-main), serif;
  font-weight: 400;
  font-size: 18px;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  flex-direction: column;
  @media print {
    font-size: 14px;
    padding-inline: 2rem;
  }
}
code {
  font-family: var(--font-code), Consolas, monospace;
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-header), sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 250%;
  line-height: 1.2;
}
h2 {
  font-size: 200%;
  line-height: 1.25;
}
h3 {
  font-size: 150%;
  line-height: 1.38;
}
h4 {
  font-size: 120%;
  line-height: 1.5;
}

p {
  font-size: 110%;
  line-height: 1.5;
  margin-bottom: 1rem;
}

a {
  color: var(--color-accent);
  font-weight: 500;
  white-space: nowrap;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-skip-ink: all;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2.5px;
  transition: 0.15s;
  &:hover {
    text-decoration-color: inherit;
  }
}

a,
button {
  &:focus-visible {
    outline-offset: 4px;
    outline-color: var(--color-emphasis);
    border-radius: 4px;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}
