---
import ContentWrapper from './ContentWrapper.astro'

const platform = 'github'
const username = 'withastro'
---

<footer>
  <ContentWrapper>
    <p>
      Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>
        {platform}
      </a>!
    </p>
  </ContentWrapper>
</footer>

<style>
  footer {
    margin-top: auto;
  }
</style>
