---
import ThemeToggle from './ThemeToggle.astro'

const { pathname } = Astro.url
---

<header>
  <nav id="main-nav">
    <a href="/" aria-current={pathname === '/'}>/home</a>
    <a href="/blog" aria-current={pathname.startsWith('/blog')}>/blog</a>
  </nav>
  <div class="side">
    <ThemeToggle />
  </div>
</header>

<style>
  header {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .side {
    margin-inline-start: auto;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 150%;

    a[aria-current='true'] {
      font-variation-settings: 'wght' 800;
    }
  }
</style>
