---
import ContentWrapper from './ContentWrapper.astro'
import ThemeToggle from './ThemeToggle.astro'

const { pathname } = Astro.url
---

<ContentWrapper>
  <header>
    <nav id="main-nav">
      <a href="/about" aria-current={pathname.startsWith('/about')}>/about</a>
      <a href="/blog" aria-current={pathname.startsWith('/blog')}>/blog</a>
    </nav>
    <div class="side">
      <ThemeToggle />
    </div>
  </header>
</ContentWrapper>

<script>
  import { applyDynamicWeight } from '../scripts/dynamic-weight'

  const links = [
    ...(document.getElementById('main-nav')?.getElementsByTagName('a') ?? []),
  ]
  applyDynamicWeight(links)
</script>

<style>
  header {
    padding-block: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .side {
    margin-inline-start: auto;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 150%;

    a {
      font-variation-settings: 'wght' var(--wght, 400);
      color: var(--color-emphasis);
      font-family: 'Sono Variable', monospace;
      text-decoration: none;

      &[aria-current='true'] {
        font-variation-settings: 'wght' 800;
      }
    }
  }
</style>
